.course{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.head{
    text-align: center;
    color: red;
    padding-top: 5%;
    padding-bottom: 5%;
}